$bezier: cubic-bezier(0.5, 1.58, 0.34, 0.82);

$shadow: 5px 5px 10px #cecece;;

$font:  Shrikhand, "cursive";

$purple:  #9356dc;

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700;900&family=Shrikhand&display=swap");
body,html {
  padding: 0;
  margin: 0;	
  font-family: Roboto, sans-serif;
  scroll-behavior: smooth;
}


@keyframes spinnerOne {
  0% {transform: rotate(0deg); border-width: 10px;}
  50% {transform: rotate(180deg); border-width: 1px;}
  100% {transform: rotate(360deg); border-width: 10px;}
}

@keyframes spinnerTwo {
  0% {transform: rotate(0deg); border-width: 1px;}
  50% {transform: rotate(180deg); border-width: 10px;}
  100% {transform: rotate(360deg); border-width: 1px;}
}

.spinner{
	width: 100px;
	height: 100px;
	position: fixed;
	margin: auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 10000;
	

    div{
		box-sizing: border-box;
		position: absolute;
		width: 100%;
		height: 100%;
		border: 8px solid transparent;
		border-top-color: #9356dc;
		border-radius: 50%;
		animation: spinnerOne 1.2s linear infinite;
    }
 
    div:nth-child(2){
        border: 8px solid transparent;
        border-bottom-color: #ff79da;
        animation: spinnerTwo 1.2s linear infinite;
    }

  
}



.logo {
  font-family:$font;
  text-align: center;
  box-shadow: 0px 0px 5px #cecece;
  margin: 0;
  padding: 0;
}

/* menu*/
.titre {
  font-family: $font;
  padding-left: 20px;
}

.fond-page {
  background-color: #f6f6f6;
  border-radius: 30px 30px 0px 0px;
  position: relative;
  margin-top: -30px;
}

.menu {
  height: 500px;
  width: 100%;
  object-fit: cover;
 }

.groupe, p, .reservez-sous-titre {
  font-weight: 300;
}

.barre {
  height: 3px;
  width: 45px;
  background-color: #99e2d0;
  position: relative;
  margin-top: -15px;
}

.commander {
  width: 150px;
  position: relative;
  margin-top: 30px;
  position:absolute;
  display: flex;
  justify-content: center;
}

.selection {
  padding: 2px;
  box-shadow: $shadow;
  border-radius: 20px;
  background-color: #ffffff;
  color: black;
  position: relative;
  margin-top: 10px;
}

@keyframes fadeAndScale {
  0% {
    opacity: 0;
    transform: scale3d(0.75, 0.75, 1);
  }
  40% {
    opacity: 0;
    transform: scale3d(0.75, 0.75, 1);
  }
  100% {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}
.selection h4, .selection p {
  font-size: 15px;
  margin-left: 10px;
}

.prix {
  display: flex;
  justify-content: flex-end;
  position: relative;
 }

.confirmation {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 0px;
  height: 79px;
  top: 0px;
  right: 0px;
  color: white;
  border-radius: 0px 20px 20px 0px;
  background-color: #99e2d0;
  position: absolute;
}

.selection:active{
 
 .prix{ 
 	margin-right: 60px;
}
 .confirmation{
    transition: 1s ease-in;  
 	width: 60px;
}

}

.entrées {
  animation: fadeAndScale 0.6s;
  animation-timing-function: $bezier;
}

.plats {
  animation: fadeAndScale 0.9s;
  animation-timing-function: $bezier;
}

.désserts {
  animation: fadeAndScale 1s;
  animation-timing-function: $bezier;
}

.haut {
  display: flex;
}

footer {
  margin-top: 50px;
}

/*menu*/
.bouton, .commander {
  border: 0 none;
  padding: 10px;
  font-weight: 500;
  font-size: 15px;
  border-radius: 100px;
  color: white;
  background-color: #686868;
  background-image: linear-gradient(0deg,$purple, #ff79da);
  cursor: pointer;
  box-shadow: $shadow;
}
.reservez a{
	position:absolute;
	margin-left: -100px;
	margin-top: 10px;
}
.bouton:hover {
  filter: brightness(110%);
  box-shadow: 4px 4px 10px #7e7e7e;
}

.coeur, .coeur-vide {
  position: absolute;
  bottom: 60px;
  right: 50px;
  color: #969696;
}

.presentation{
  height: 190px;
}

.coeur2, .coeur-vide2 {
  position: absolute;
  right: 20px;
  top: 20px;
  color: #969696;
}

.coeur, .coeur2 {
  filter: opacity(0);
}

.coeur:hover, .coeur2:hover {
  filter: opacity(100);
  color:$purple;
}

.choisir {
  padding: 8px;
}

.étapes li{
box-shadow: 0px 0px 5px #cecece;
}

a {
  text-decoration: none;
}

.sous-titre {
  background-color: #eaeaea;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items:center;

  span{
  	margin-left: 5px;
  } 
}  
 

figure {
  background-color: white;
  border-radius: 15px 15px 0px 0px;
}

figcaption {
  padding: 5px;
}

.étapes-1, .étapes-2, .étapes-3 {
  padding: 25px;
  margin: 15px 4px 12px;
  box-shadow: $shadow;
  border-radius: 20px;
  background-color: #f6f6f6;
  color: black;
  position: relative;
}

.étapes-1:before, .étapes-2:before, .étapes-3:before
{
  content: counter(compteListe) " ";	
  background:$purple;
  height: 20px;
  width: 20px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  position: absolute;
  left: -10px;
}
.étapes-1:before {
  counter-increment: compteListe 1;
}

.étapes-2:before {
  counter-increment: compteListe 2;
 }

.étapes-3:before {
  counter-increment: compteListe 3;
}

.reservez {
  padding: 15px;
  text-align: center;
  background-color: #f6f6f6;
}

.restaurants {
  background-color: #f6f6f6;
}

.cartes a {
  border-radius: 15px;
  position: relative;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cartes img {
  height: 250px;
  width: 500px;
  border-radius: 15px 15px 0px 0px;
  object-fit: cover;
}

.cartes {
  display: flex;
  flex-wrap: wrap;
}

.cartes span {
  background-color: #99e2d0;
  position: absolute;
  color: #1b6150;
  padding: 5px;
  border-radius: 3px;
  margin-left: -80px;
  margin-top: 20px;
}

footer {
  background-color: #353535;
  padding: 15px;
}

footer a {
  color: white;
  display: flex;
  margin-top: 5px;
}

li {
  list-style-type: none;
}

.étapes li:hover {
  background-color: #f5edff;
}

.icones {
  color: #7e7e7e;
}

.icones:hover {
  color:$purple;
}

footer span {
  color: white;
  font-family:$font;
  font-size: 20px;
}

@media screen and (max-width: 640px) {
  body {
    display: flex;
    flex-direction: column;
}

 .reservez-bouton:active {
  filter: brightness(110%);
  box-shadow: 4px 4px 10px #7e7e7e;
}

  .cartes img {
    height: 180px;
    width: 300px;
    border-radius: 15px 15px 0px 0px;
    object-fit: cover;
  }

  .coeur:active, .coeur2:active {
    filter: opacity(100);
    color: #969696;
  }

  .menu {
    height: 180px;
  }

  .prix {
    display: flex;
    justify-content: flex-end;
    position: relative;
    margin-top: -35px;
  }

  .fond-page {
    margin-top: -25px;
  }

  .commander {
    transform: translate(50%, 50%);

  }

  footer {
  margin-top: 100px;
}
}

