@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700;900&family=Shrikhand&display=swap");

body
{
  font-family:Roboto,sans-serif;scroll-behavior:smooth;
}

.header-logo
{
	font-family:Shrikhand,"cursive";
    text-align: center;
    box-shadow:0px 0px 5px #cecece;	
}

/* menu*/
.titre
{
	font-family:Shrikhand,"cursive";
	padding-left: 20px;
}

.fond-page
{
	background-color: #f6f6f6;
    border-radius: 30px 30px 0px 0px;
    position: relative;
    margin-top: -30px;
}

.menu
{
	height: 500px;
	width: 100%;
	object-fit:cover;
	margin-top: -21px;
}

.groupe
{
	font-weight: 300;
}

.barre
{
	height: 3px;
	width: 45px;
	background-color: #99e2d0;
	position: relative;
	margin-top: -15px;
}

.commander
{
	border: 0 none;
	padding: 10px;
	font-weight: 500;
	font-size: 15px;
	border-radius: 100px;
	color: white;
	background-color: #686868;
	background-image:linear-gradient(0deg, #9356dc, #ff79da);
	cursor: pointer;
	display: flex;
	justify-content: center;
    width: 150px;
    transform: translate(500%,50%);
    margin-top: 10px;
}

.selection
{
    padding: 2px;
	box-shadow: 5px 5px 10px #cecece;
	border-radius:20px;
	background-color:#ffffff;
	color: black;
	position:relative;
	margin-top: 10px;
}

@keyframes fadeAndScale
{
	0%{
		opacity: 0;
		transform: scale3d(0.75,0.75,1);
	}

	40%{
		opacity: 0;
		transform: scale3d(0.75,0.75,1);
	}

	100%{
		opacity: 1;
		transform: scale3d(1,1,1);
	}
}

.selection h4, .selection p
{
  font-size: 15px;
  margin-left: 10px;
}

.prix
{
	display: flex;
	justify-content: flex-end;
	position: relative;
	margin-top: -35px;
}


.prix:hover
{
  animation: moving 2s;
  animation-timing-function: ease-in;
}


@keyframes moving
{
  from { right: 0px;}
  to {right: 100px;}
}

.confirmation
{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 0px;
  height: 79px;
  top: 0px;
  right: 0px;
  color:white;
  border-radius: 0px 20px 20px 0px;
  transition: 0.8s ease-in;
  background-color:#99e2d0;
  position:absolute;
  opacity: 0;
}


.confirmation:hover
{
  opacity:1;
  width:60px;
}


.entrées
{
	animation: fadeAndScale .6s;
	animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);

}

.plats
{
	animation: fadeAndScale .7s;
	animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
}

.désserts
{
	animation: fadeAndScale .8s;
	animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
	animation-duration: 1s;
}

.haut
{
	display: flex;
}

.footer
{
	margin-top: 50px;
}
/*menu*/

.reservez-bouton
{
	border: 0 none;
	padding: 10px;
	font-weight: 500;
	font-size: 15px;
	border-radius: 100px;
	color: white;
	background-color: #686868;
	background-image:linear-gradient(0deg, #9356dc, #ff79da);
	cursor: pointer;
	box-shadow: 4px 4px 10px #cecece;

}

.reservez-bouton:hover
{
	filter: brightness(110%);
	box-shadow: 4px 4px 10px #7e7e7e; 
}

.coeur, .coeur-vide
{
  position: absolute; 
  bottom: 60px;
  right: 50px;
  color: #969696;
}

.coeur2, .coeur-vide2
{
  position: absolute;
  right: 20px;
  top: 20px;
  color: #969696;
}


.coeur,.coeur2
{
  filter: opacity(0);
}

.coeur:hover, .coeur2:hover
{ 
  filter: opacity(100);	
  color: #ff79da;
} 

.choisir
{
	padding:8px;
}

a
{
	text-decoration: none;
}

.sous-titre
{
	display: flex;
	justify-content: center;
	background-color: #eaeaea;

}

figure
{
	background-color: white;
	border-radius:15px 15px 0px 0px;
}

figcaption
{
	padding: 5px;
}

.étapes-1,.étapes-2,.étapes-3
{
	padding:25px;
	margin:15px 4px 12px;
	box-shadow: 5px 5px 10px #cecece);
	border-radius:20px;
	background-color:#f6f6f6;
	color: black;
	position:relative;
}

.étapes-1:before
{
	counter-increment:compteListe 1;
	content:counter(compteListe) " ";
    background:#9356dc;
    height:20px;
    width:20px;
    border-radius:100px;
    display:flex;
    justify-content:center;
    align-items:center;
    color:#fff;
    position:absolute;
    left:-10px;
}

.étapes-2:before
{
	counter-increment:compteListe 2;
	content:counter(compteListe) " ";
    background:#9356dc;
    height:20px;
    width:20px;
    border-radius:100px;
    display:flex;
    justify-content:center;
    align-items:center;
    color:#fff;
    position:absolute;
    left:-10px;
}

.étapes-3:before
{
	counter-increment:compteListe 3;
	content:counter(compteListe) " ";
    background:#9356dc;
    height:20px;
    width:20px;
    border-radius:100px;
    display:flex;
    justify-content:center;
    align-items:center;
    color:#fff;
    position:absolute;
    left:-10px;
}


.reservez
{
	padding:15px;
	text-align:center;
	background-color:#f6f6f6;
}

.reservez-sous-titre
{
	font-weight:300;
}

.restaurants
{
	background-color:#f6f6f6;
	
}

.cartes a 
{   
	border-radius:15px;
	position:relative;
	color: black;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.cartes img 
{
	height: 250px;
	width: 500px;
	border-radius:15px 15px 0px 0px;
	object-fit:cover;
}

.cartes
{
	display: flex;
	flex-wrap: wrap;
	
}

.cartes span
{
	background-color:#99e2d0;
	position: absolute;
	color:#1b6150;
	padding: 5px;
	border-radius:3px;
	margin-left: -80px;
	margin-top: 20px;
}

footer
{
   background-color:#353535;
   padding: 15px;
}

footer a
{
	color: white;
	display: flex;
	margin-top: 5px;
}

li
{
	list-style-type: none;
}

p
{
	font-weight: 300;
}

.étapes li:hover
{
  background-color: #f5edff;
}

.icones
{
	color: #7e7e7e;
}

.icones:hover
{
	color: #9356dc;
}

footer span
{
	color: white;
	font-family:Shrikhand,"cursive";
	font-size: 20px;
}

@media screen and (max-width:640px)
{
body
{
	display:flex;
	flex-direction:column;
}

.cartes img 
{
	height: 180px;
	width: 300px;
	border-radius:15px 15px 0px 0px;
	object-fit:cover;
}

.coeur:active, .coeur2:active
{ 
  filter: opacity(100);	
  color: #ff79da;
} 

.menu
{
	height: 180px;
}

.prix
{
	display: flex;
	justify-content: flex-end;
	position: relative;
	margin-top: -35px;
}

.fond-page
{
  margin-top: -25px;
}

.commander
{
  transform: translate(50%,50%);
}


}